= bootstrap_form_for @pokemon do |f|
  - if @pokemon.errors.any?
    #error_explanation
      .alert.alert-danger
        The form contains #{pluralize(@pokemon.errors.count, "error")}.
      %ul
        - @pokemon.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :first_name, placeholder: 'First name'
  = f.text_field :last_name, placeholder: 'Last name'
  = f.text_area :description, placeholder: 'Description'
  = f.file_field :avatar
  %h3 Your Skill levels - sum of skill levels have to be exacly 10
  = f.select(:flying, options_for_select(6.times.map { |i| [i, i] }))
  = f.select(:speed, options_for_select(6.times.map { |i| [i, i] }))
  = f.select(:strength, options_for_select(6.times.map { |i| [i, i] }))
  = f.select(:wisdom, options_for_select(6.times.map { |i| [i, i] }))
  = f.select(:tactics, options_for_select(6.times.map { |i| [i, i] }))
  = f.select(:learning, options_for_select(6.times.map { |i| [i, i] }))
  = f.select(:inference, options_for_select(6.times.map { |i| [i, i] }))
  = f.select(:agility, options_for_select(6.times.map { |i| [i, i] }))
  = f.submit 'Create Pokemon'
