= bootstrap_form_for @pokemon do |f|
  - if @pokemon.errors.any?
    #error_explanation
      .alert.alert-danger
        The form contains #{pluralize(@pokemon.errors.count, "error")}.
      %ul
        - @pokemon.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :first_name, placeholder: 'First name'
  = f.text_field :last_name, placeholder: 'Last name'
  = f.text_area :description, placeholder: 'Description'
  = f.file_field :avatar
  %h3 Your Skill levels
  - @pokemon.skills.each do |skill|
    = f.fields_for skill, index: skill.name.downcase do |skill_form|
      = skill_form.text_field :name, value: skill.name, readonly: true, hide_label: true
      = skill_form.select(:value, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]]), hide_label: true)
  = f.submit 'Create Pokemon'
