-# navigation styled for Bootstrap 3.0
= navbar fixed: :top do
  = navbar_header brand: 'Fight Club', brand_link: '/'
  = navbar_collapse do
    = navbar_group class: 'foo', id: 'menu' do
      = navbar_text 'Pick an option:'
      = navbar_item "Home", '/'
      = navbar_item "Ranking", pokemons_path
    = navbar_group align: 'right' do
      = navbar_item "New Fight", new_fight_path
      = navbar_item "New Pokemon", new_pokemon_path
